@import "_scss_includes/reset";
@import "_scss_includes/colors";

html,
body {
	height: 100%;
}

body {
	font-family: "Zilla Slab", arial, sans-serif;
	background-color: $color-primary-0;
	color: $color-secondary-1-4;
}

a {
	color: $color-secondary-1-4;
}

label {
	cursor: pointer;
	margin: 2px;
	display: block;
	width: 100%;
}

select {
	background-color: $color-secondary-2-1;
	padding: 8px;
	border-radius: 8px;
	cursor: pointer;

	&:focus {
		border-radius: 0;
	}

	option {
		padding: 8px;
	}
}

.select-wrap {
	text-align: left;
}

h1 {
	font-size: 3em;
}

p {
	margin: 8px 0;
}

.wrap {
	width: 100%;
	max-width: 1440px;
	margin: auto;
	text-align: center;
}

.hide-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
	font-size: 0;
}

#page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	display: flex;
	flex-direction: row;

	h1 {
		align-self: flex-end;
	}

	.select-wrap {
		margin: 0 0 0 auto;
	}
}

main {
	flex: 1;
}
